/* style_seleccion_usuario.css */

/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 500px;  /* Aumentar el tamaño del contenedor */
    text-align: center;
}

header h1 {
    color: #ffffff;
    background-color: #ff7f50;
    padding: 25px;
    border-radius: 8px;
    margin: -50px -50px 25px;
    font-size: 24px; /* Aumentar tamaño de la fuente */
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px; /* Aumentar el espacio entre los botones */
    margin-top: 30px; /* Añadir más espacio arriba */
}

.option-btn {
    background-color: #ff7f50;
    color: white;
    padding: 20px 30px;  /* Aumentar el tamaño del botón */
    border: none;
    border-radius: 12px;  /* Redondear más los bordes */
    cursor: pointer;
    font-size: 20px; /* Aumentar el tamaño de la fuente */
    transition: background-color 0.3s;
    width: 100%;  /* Los botones ocupan todo el ancho disponible */
}

.option-btn:hover {
    background-color: #ff5722;
}

.option-btn:active {
    background-color: #e64a19;
}